.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.info-text {
  margin: 4px;
}

.info-text:first-child {
  margin-left: 10px;
}

@media only screen and (max-width: 767px) {
  .footer {
    display: none;
  }
  .info-text:first-child {
    margin-left: 4px;
  }
  .info-text {
    font-size: 12px;
    margin: 4;
  }
}
