.header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 500;
  background-color: rgba(240, 242, 245, 0.8);
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.title {
  margin: 0px 0 0 30px;
  font-size: 50px;
}

.upload-button {
  margin: 20px;
}

.information-svg {
  height: 40px;
  margin-top: 5px;
}

.information-svg:hover {
  cursor: pointer;
}

.toolbar {
  margin-right: 10px;
}

.drawerButton {
  display: none !important;
}

.title {
  height: 100px;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* .header {
    flex-wrap: wrap;
    justify-content: center;
  } */

  .title {
    height: 70px;
  }

  .toolbar {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 1420px) and (min-width: 768px) {
  .title {
    height: 70px;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    margin: 0px 0 0 0px;
    height: 70px;
  }

  .toolbar {
    margin-right: 10px;
  }
  .toolbar {
    display: none;
  }

  .drawerButton {
    display: block !important;
  }
}


.drawer-button{
  /* width: 100%; */
  margin-bottom: 4px;
}